$color-primary: #0070f3;

.container{
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
}
  

