@keyframes about-animate{
  0%{
    top: -500px;
    opacity: 0.7;
  }
  100%{
    top: 0px;
    opacity: 1;
  }  
}
@keyframes about-close-animate{
  0%{
    
    top: 0px;
    opacity: 1;
    visibility: hidden;
  }
  100%{
    visibility: hidden;
    top: -500px;
    opacity: 0;
    visibility: visible;
  }  
}
@keyframes close-btn-animate{
  0%{
    top: 0px;
    opacity: 0;
  }
  100%{
    top: 370px;
    opacity: 1;
  }  
}