@mixin iconbgc {
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin hover {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}
